<app-navbar></app-navbar>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-5">
      <div class="col-12 my-2">
        <h3>Relatório</h3>
        <hr>
        <h5>Contas cadastradas: {{dashboardDados.quantidadeContas}}</h5>
        <h5>Saldo do Corretora:
          <span [ngStyle]="{'color': dashboardDados.saldo >= 0 ? 'green' : 'red'}">
            {{dashboardDados.saldo | currency:'GBP'}}
          </span>
        </h5>
      </div>
      <br>
      <div class="col-12 my-2">
        <h3>Contas</h3>
        <hr>
        <div class="caixa-contas">
          <div class="cartao d-flex justify-content-between align-content-center px-2 py-1 mb-2"
            *ngFor="let conta of dashboardDados.contas">
            <span>
              <b>Titular:</b> {{conta.titular}} <span class="text-muted">#{{conta.id}}</span>
            </span>
            <span>
              <b>Saldo:</b> {{conta.saldo | currency: "GBP"}}
            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-7">
      <div class="col-12 my-2">
        <h3>Transferências</h3>
        <hr>
        <div class="cartao d-flex justify-content-between align-content-center px-2 py-1 mb-2"
          *ngFor="let conta of dashboardDados.contas">
          <span>
            <b>Titular:</b> {{conta.titular}} <span class="text-muted">#{{conta.id}}</span>
          </span>
          <span>
            <b>Saldo:</b> {{conta.saldo | currency: "GBP"}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>